.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 255, 225);
  padding-left: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  border: solid 1px black;
  margin: 0;
  margin-top: 1%;
  margin-bottom: 1%;
  position: relative;
}

.card > h2 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

.card > p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 0.7rem;
}

.card > h3 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

.card > #interests {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.card > #interests > p {
  margin: 0;
  padding: 0;
}

.card > #buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.card > #buttons > a {
  height: 3rem;
  width: 7rem;
  text-decoration: none;
}

.card > #buttons > a > button {
  width: 100%;
  height: 100%;
  font-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 110, 255);
  color: white;
  transition: transform 0.1s, opacity 0.1s;
  cursor: pointer;
}

.card > #buttons > a > button:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.card > a {
  position: absolute;
  width: 10%;
  height: 20%;
  right: 2%;
  top: 4%;
  border-radius: 10px;
}

.card > a > button{
    width:100%;
    height:100%;
    font-size: 200%;
    cursor: pointer;
    transition: transform 0.1s, opacity 0.1s;
    background-color: rgba(255, 196, 0, 0.853);
}

.card > a> button:active {
  transform: scale(0.95);
  opacity: 0.8;
}
